.App-header {
	margin: 2em 0;
}

.App-header div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-header div h1 {
	color: var(--heading-color);
	font-family: "Great Vibes", sans-serif;
	font-size: 6rem;
	margin-right: 0.5em;
}

.App-header div input {
	position: relative;
	width: 50px;
	height: 25px;
	appearance: none;
	-webkit-appearance: none;
	background-color: #c6c6c6;
	outline: none;
	border-radius: 20px;
	transition: 0.5s;
	box-shadow: inset var(--shadow-box);
}

.App-header div input:checked {
	background-color: #333;
}

.App-header div input::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: 0.5s;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.App-header div input:checked::before {
	left: 25px;
}

.App-header h4 {
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--heading-color);
	margin: 0.5em 0;
}

.App-search {
	margin: 0 auto;
	width: 70%;
	margin-bottom: 2em;
}

.App-search form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-search form input[type="text"] {
	flex: 2 1 80%;
	padding: 0.5em;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--heading-color);
	background-color: var(--body-color);
	border: 2px solid rgb(74, 68, 131);
}

.App-search form input[type="submit"] {
	flex: 1 1 10%;
	padding: 0.5em 2em;
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
	background-color: rgb(74, 68, 131);
	border: 2px solid rgb(74, 68, 131);
	white-space: nowrap;
}

.App-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	place-items: center;
	padding: 2rem 0rem;
	width: 80%;
	margin: 0 auto;
	gap: 1.5em;
}

.App-more {
	font-family: Inter, sans-serif;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more {
	padding: 1rem 3rem;
	background-color: rgb(74, 68, 131);
	color: #fff;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
	font-family: Inter, sans-serif;
}
